*.pdf
*.png
*.jpg
*.jpeg
*.csv

## no tomar la carpeta data
/data
src/data

*.npz

## entorno y caches
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

Proyecto___Computación_Paralela/
Proyecto_Final_Paralela/
docs/